{
  "extends": "@antfu",
  "rules": {
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "curly": ["error", "all"],
    "vue/component-tags-order": ["error", {
      "order": ["route", "i18n", "script", "template", "style"]
    }],

  }
}
